<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>

    <div style="background-color:cadetblue; padding: 15px; display: flex; justify-content: space-between;">
        <h1 style="padding: 0; margin: 0%;">Log in</h1>
        <a href="/signup"><button style="padding: 5px 15px;">SIGN UP</button></a>
    </div>

    <div style="display: flex; justify-content: center; padding: 50px;">

        <div style="background-color: beige; width: 25%; border-radius: 10px;">
            <div style="display: flex; justify-content: center; ">
                <form action="/login" method="POST">
                    <br><br><br><br>
                    <label>Email:</label>
                    <input type="email" name="email" required> <br><br>
                    <br>
                    <label>Password:</label>
                    <input type="password" name="password" required><br><br>
                    <br>
                    <div style="display: flex; justify-content: center;">
                        <button type="submit" style="padding: 5px 20px;">LOG IN</button>
                    </div>
                    <br><br><br>
                </form>
            </div>
        </div>
    </div>
   
   

</body>

</html>



